body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #dd8e8e, #536578);
    margin: 0;
    padding: 0;
}

.resume {
    width: 60%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.resume:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

h1 {
    
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
}

.section {
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.section:last-child {
    border-bottom: none;
}

.section h2 {
    color: #333;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.data {
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    background-color: #e63946;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(230, 57, 70, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #d62839;
    box-shadow: 0 6px 15px rgba(214, 40, 57, 0.3);
}

.contact-info {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

.contact-info p {
    margin: 5px 0;
}
